[Unit]
Description=Sonar Server
Documentation=https://kaos.sh/sonar
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=sonar
EnvironmentFile=/etc/sysconfig/sonar
ExecStart=/usr/bin/sonar -c /etc/sonar.knf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
StandardError=file:/var/log/sonar/startup.log
PrivateTmp=true

[Install]
WantedBy=multi-user.target
